
#header-logo{
    width: 180px;
    padding: 0 20px;
}
#header-links{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}
#header-links p{font-size: 20px;}
#header-links p:hover{ color: orange }

#searchField::placeholder{
    color: white;
    opacity: 1;
    font-family: Montserrat;
}

#header-menu-toggler{
    display: none;
    text-align: right;
    z-index: 1001;
}

@media screen and (max-width: 900px) {
    #header > div{flex-wrap: wrap;}
    #header-logo{width: 130px}

    #header-links{
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100%;
        backdrop-filter: blur(5px);
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 500ms;
    }
    #header-links.show{transform: translateX(0);}
    #header-menu-toggler{display: block; flex-grow: 1;}
}