.login-container, .signUp-container{
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 200px 0;
}

.login-container > div, .signUp-container > div{
    padding: 50px;
    margin: 20px;
    border: 2px solid rgb(172, 172, 172);
    border-radius: 5px;
}

@media screen and (max-width:899px) {
    .login-container > div, .signUp-container > div{ padding: 30px }
}